VITE_FIREBASE_API_KEY=AIzaSyDxUdNuacE9J08BoebrY4Ax63CD4phZXj4
VITE_FIREBASE_AUTH_DOMAIN=jbmt-reporting.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jbmt-reporting
VITE_FIREBASE_STORAGE_BUCKET=jbmt-reporting.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=554546722753
VITE_FIREBASE_APP_ID=1:554546722753:web:c6be832b4d00fbe6bfe140
VITE_FIREBASE_MEASUREMENT_ID=G-JGCWKJPQTG
